In [2]:
# Add the Pandas Dependency
import pandas as pd

In [3]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [5]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [6]:
schools_df.columns

Index(['School ID', 'School Name', 'School Type'], dtype='object')

In [7]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [11]:
# List of friends ages
Ages = [26,24,27,28]
# List of friends names
Names = ["Luke", "Ashley", "Steve", "Ron"]
# Gender of friends
Gender = ["Male", "Female", "Male", "Male"]

#Creating a series
Friend_Group = pd.Series(Ages)
Friend_Group

0    26
1    24
2    27
3    28
dtype: int64

In [14]:
# Creating a dictionary 
Friend_Group_Dict = pd.DataFrame()

Friend_Group_Dict = [{"Age of friend" : 26, "Name of friend" : "Luke", "Gender of friend" : "Male"},
                     {"Age of friend" : 24, "Name of friend" : "Ashley", "Gender of friend" : "Female"},
                     {"Age of friend" : 27, "Name of friend" : "Steve", "Gender of friend" : "Male"},
                     {"Age of friend" : 28, "Name of friend" : "Ron", "Gender of friend" : "Male"}]

Friends = pd.DataFrame(Friend_Group_Dict)
Friends

   Age of friend Name of friend Gender of friend
0             26           Luke             Male
1             24         Ashley           Female
2             27          Steve             Male
3             28            Ron             Male